.extras-nav{
  .navbar{
    background-color black
    margin-bottom: 0px;
    border-radius: 0px;
    li a{
      color rgb(154, 154, 154)

    }
    li {
      a:hover {
        color: white
      }
    }
  }
}