<div class="hub-grid-container-all">
  <div class="hub-grid-container">
    <md-grid-list
      md-cols-xs="1"
      md-cols-gt-xs="2"
      md-cols-sm="2"
      md-cols-md="4"
      md-cols-gt-md="4"
      md-row-height="2:1"
      md-gutter="12px" md-gutter-gt-sm="8px" >
      <md-grid-tile class="gray"
                    md-rowspan="2" md-colspan="2" md-colspan-xs="1" md-rowspan-xs="1">
        <md-grid-tile-footer>
          <h3>#1: (3r x 2c)</h3>
        </md-grid-tile-footer>
      </md-grid-tile>
      <md-grid-tile class="green">
        <md-grid-tile-footer>
          <h3>#2: (1r x 1c)</h3>
        </md-grid-tile-footer>
      </md-grid-tile>
      <md-grid-tile class="yellow">
        <md-grid-tile-footer>
          <h3>#3: (1r x 1c)</h3>
        </md-grid-tile-footer>
      </md-grid-tile>
      <md-grid-tile class="red">
        <md-grid-tile-footer>
          <h3>#5: (1r x 1c)</h3>
        </md-grid-tile-footer>
      </md-grid-tile>
      <md-grid-tile class="red">
        <md-grid-tile-footer>
          <h3>#5: (1r x 1c)</h3>
        </md-grid-tile-footer>
      </md-grid-tile>
    </md-grid-list>
  </div>
</div>
