<div class="hubFooter-main-container">
  <div class="hubFooter-container">

    <div class="hubFooter-right">
      <div class="extra-info">معلومات إضافية</div>
      <div class="right-list">
        <div>عن مجموعة سي بي سي</div>
        <div>سياسة الإستخدام</div>
        <div>سياسة الخصوصية</div>
      </div>
    </div>
    <div class="hubFooter-middle-right">
      <div class="channels">القنوات</div>
      <div class="channels-list">
        <div class="cbc-logo" ng-click="vm.goTo('cbc')" style="background-image: url('assets/images/cbc.png')"></div>
        <div class="drama-logo" ng-click="vm.goTo('drama')"  style="background-image: url('assets/images/cbc-drama-logo.png')"></div>
        <div class="sofra-logo" ng-click="vm.goTo('sofra')"  style="background-image: url('assets/images/cbc-sofra-logo.png')"></div>
        <div class="extra-logo" ng-click="vm.goTo('extras')"  style="background-image: url('assets/images/cbc-extra-logo.png')"></div>
      </div>
    </div>
    <div class="hubFooter-middle-left">
      <div class="stay-conected">ابق علي اتصال</div>
      <div class="stay-conected-list">
        <div class="fb">Like us on Facebook<span class="footer-social-logo fb-logo"></span></div>
        <div class="twitter">Follow us on twitter<span class="footer-social-logo twitter-logo"></span></div>
        <div class="plus">Add us on Google Plus<span class="footer-social-logo plus-logo"></span></div>
      </div>
    </div>
    <div class="hubFooter-left">
      <div class="stay-conected">معلومات الإتصال</div>
      <div class="left-list">
        <div>للإعلان معنا</div>
        <div>وظائف</div>
        <div>اتصل بنا</div>
      </div>
    </div>
    <div class="footer-footer">
      <div>جميع الحقوق محفوظة لسي بي سي احدى شركات مجموعة المستقبل.</div>
    </div>
  </div>
</div>
