.sign-in
  display: flex
  direction: rtl
  background-color black
  height: 290px
  border-radius: 4px
  .right
    width 50%;
    border-left 1px solid white
    position relative
    .dummy-usr
      width: 50px
      height: 50px
      background-color: red
      position: relative
      top: 20px
      margin-right: auto
      margin-left: auto
    .login-section
      position: absolute
      top: 40%;
      width: 100%;
      .section-part
        height 60px
      label
        width:120px
        color white
        font-size 17px
      input
        font-size: 13px
        min-height: 32px
        margin: 0
        padding: 7px 8px
        outline: none
        color: #333
        background-color: #fff
        border: 1px solid #ccc
        border-radius: 3px
        box-shadow: inset 0 1px 2px rgba(0,0,0,0.075)
        box-sizing: border-box
        vertical-align: middle
        width 64%;




  .left
    width 50%
    position relative
    label
      color white
      font-size 17px
      position relative
      top 57px
      margin-right: 37%;
    .social-container
      position: relative;
      display: flex;
      justify-content: center;
      width: 100%;
      height: 65px;
      margin-top: 68px;
      span
        width: 65px;
        height: 100%;
        background-color: green;
        margin-right 20px

