<div class="modal-body sign-in">
  <div class="right">
    <div class="dummy-usr"></div>
    <section class="login-section">
      <div class="section-part">
        <label class="user-name-lbl">البريد الإلكتروني</label>
        <input class="user-name-input" type="email">
      </div>
      <div class="section-part">
        <label class="password-lbl">كلمة المرور</label>
        <input class="password-input" type="password">
      </div>
      <div>
        <button class="btn btn-primary">دخول مستخدم</button>
      </div>
    </section>
  </div>
  <div class="left">
    <label>تسجيل بواسطة</label>
    <div class="social-container">
      <span class="login-FB"></span>
      <span class="login-TW"></span>
      <span class="login-GP"></span>
    </div>
  </div>
</div>
