.extras-carousel-container {
  width: 100%
  height 220px
  border white 10px solid
  .extras-carousel {
    width 100%
    height 100%
    .carousel {
      width 100%
      height 100%
      .carousel-inner {
        height 100%
      }
    }
    .extras-carousel-element {
      width: 100%
      height 100%
      article{
        width: 60%
        float left
        background-color white
        color black
        height 100%
      }
      .bg-img{
        float right
        width: 40%;
        height: 100%;
        background-size cover
      }
    }
  }
    .carousel-indicators{
      right: 0%;
      width: 300px;
      left: inherit;
      bottom: 0px;
    }
  .carousel-control.left {
    display: block;
    background-image: url("../assets/images/drama-carousel-left.png");
    background-position: 50% 50%;
    margin-left: -299px;
    opacity: 1;
    background-position: 50% 50%;
    background-size: contain;
    width: 65px;
    cursor: pointer;
    right: 0px;
    left: 100%;
    span {
      display none
    }
  }
  .carousel-control.right {
    display: block;
    background-image: url("../assets/images/drama-carousel-right.png");
    background-position: 50% 50%;
    margin-right: 0px;
    opacity: 1;
    background-position: 50% 50%;
    background-size: contain;
    width: 65px;
    cursor: pointer
    span {
      display none
    }
  }
}
