.row-items{
  background-color white
  color: #000
  .row{
    .my-padding{
      margin 0px
      padding 4px
    }
  }
  .bg-image{
    background-size cover
    background-repeat no-repeat
    width 100%
  }
  h6 {
    margin-top 2px
    margin-bottom 2px
    text-align: center;
  }
}
