<div class="series-part"  ng-class="{'cbc': vm.pageName == 'cbc'
                                    ,'drama': vm.pageName == 'drama'
                                    ,'extras': vm.pageName == 'extras'}" >
  <div class="series-search-container">
    <div ng-if="vm.pageName == 'drama'" class="series-title">المسلسلات</div>
    <div ng-if="vm.pageName == 'cbc'" class="series-title">برامج</div>
    <div ng-if="vm.pageName == 'extras'" class="series-title">برامج</div>
    <div class="search-box">
      <input ng-if="vm.pageName == 'drama'" type="text" placeholder="أسم المسلسل">
      <input  ng-if="vm.pageName == 'cbc'" type="text" placeholder="أسم البرنامج">
      <input  ng-if="vm.pageName == 'extras'" type="text" placeholder="أسم البرنامج">
    </div>

  <span class="search-btn">
      <div type="submit">
        <span class="glyphicon glyphicon-search"></span>
      </div>
    </span>
  </div>
  <div class="series">
    <div style="background-image: url('../../../assets/images/mona.png')" class="series-item">
      <div class="bottom"></div>
    </div>
    <div style="background-image: url('../../../assets/images/es3ad.png')" class="series-item">
      <div class="bottom"></div>
    </div>
    <div style="background-image: url('../../../assets/images/lames.png')" class="series-item">
      <div class="bottom"></div>
    </div>
    <div style="background-image: url('../../../assets/images/faheta.png')" class="series-item">
      <div class="bottom"></div>
    </div>
    <div style="background-image: url('../../../assets/images/george.png')" class="series-item">
      <div class="bottom"></div>
    </div>
    <div style="background-image: url('../../../assets/images/nelly.jpg')" class="series-item">
      <div class="bottom"></div>
    </div>
  </div>
</div>

