<div class="series-part">
  <div class="series-search-container">
    <div class="series-title">المسلسلات</div>

    <div class="search-box">
      <input type="text" placeholder="أسم المسلسل">
    </div>

  <span class="search-btn">
      <div type="submit">
        <span class="glyphicon glyphicon-search"></span>
      </div>
    </span>
  </div>
  <div class="series">
    <div style="background-image: url('../../../assets/images/mona.png')" class="series-item">
      <div class="bottom"></div>
    </div>
    <div style="background-image: url('../../../assets/images/es3ad.png')" class="series-item">
      <div class="bottom"></div>
    </div>
    <div style="background-image: url('../../../assets/images/lames.png')" class="series-item">
      <div class="bottom"></div>
    </div>
    <div style="background-image: url('../../../assets/images/faheta.png')" class="series-item">
      <div class="bottom"></div>
    </div>
    <div style="background-image: url('../../../assets/images/george.png')" class="series-item">
      <div class="bottom"></div>
    </div>
    <div style="background-image: url('../../../assets/images/nelly.jpg')" class="series-item">
      <div class="bottom"></div>
    </div>
  </div>
</div>

