.inner-toolbar
  border-top 1px solid black
  border-bottom 1px solid white
.cbc-inner-topbar-logo
  float: left;
  width: 200px;
  height: 54px;
  margin-left: 20px;
  background-size: contain;
  background-color: rgb(66,66,66);
  background-position 50% 50%;
  background-repeat no-repeat;
  margin-top: 4px;
  -webkit-box-shadow: inset 7px 6px 32px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 7px 6px 32px 0px rgba(0,0,0,0.75);
  box-shadow: inset 7px 6px 32px 0px rgba(0,0,0,0.75);
