<ul class="list-container-lg">
  <h2 class="h2">Top stories</h2>
  <article class="article">
    <div>
      <div>
        <a href="/2016/01/18/tennis/australian-open-match-fixing-tennis/index.html">
          <img src="http://i2.cdn.turner.com/cnnnext/dam/assets/150811230203-chinas-abandoned-children-pkg-ripley-ns-00023125-large-tease.jpg">
        </a>
      </div>
      <div class="title-container">
        <h3>
          <a href="/2016/01/18/tennis/australian-open-match-fixing-tennis/index.html">
            <span class="span">
              Tennis racket: I was offered $200K to lose, Djokovic says
            </span>
          </a>
        </h3>
      </div>
    </div>
  </article>
  <article class="article">
    <div>
      <div>
        <img class="small-image" src="http://i2.cdn.turner.com/cnnnext/dam/assets/150811080024-03-chinese-orphans-small-tease.jpg">
        <h3>
          <a href="/2016/01/18/tennis/australian-open-novak-djokovic-serena-williams/index.html">
            <span class="span">
              Ex-No. 1 crashes out of Open on first day
            </span>
          </a>
        </h3>
      </div>
    </div>
  </article>
  <article class="article">
    <div>
      <div>
        <img class="small-image" src="http://i2.cdn.turner.com/cnnnext/dam/assets/150811080024-03-chinese-orphans-small-tease.jpg">
        <h3>
          <a href="/2016/01/18/tennis/australian-open-novak-djokovic-serena-williams/index.html">
            <span class="span">
              Ex-No. 1 crashes out of Open on first day
            </span>
          </a>
        </h3>
      </div>
    </div>
  </article>
  <article class="article">
  <div>
    <div>
      <img class="small-image" src="http://i2.cdn.turner.com/cnnnext/dam/assets/150811080024-03-chinese-orphans-small-tease.jpg">
      <h3>
        <a href="/2016/01/18/tennis/australian-open-novak-djokovic-serena-williams/index.html">
            <span class="span">
              Ex-No. 1 crashes out of Open on first day
            </span>
        </a>
      </h3>
    </div>
  </div>
  </article>
  <article class="article">
  <div>
    <div>
      <img class="small-image" src="http://i2.cdn.turner.com/cnnnext/dam/assets/150811080024-03-chinese-orphans-small-tease.jpg">
      <h3>
        <a href="/2016/01/18/tennis/australian-open-novak-djokovic-serena-williams/index.html">
            <span class="span">
              Ex-No. 1 crashes out of Open on first day
            </span>
        </a>
      </h3>
    </div>
  </div>
  </article>
</ul>
