.items-carousel-component-all
  height 100%;
  width 100%;
  background-color rgb(199, 199, 199);
  padding: 10px;
  .items-carousel-component-container
    background-color: #dcddde;
    padding: 6px;
    height 100%
    .slick-element
      height: 100%;
      width: 100%;
      margin-bottom 0px
      .slick-item
        height: 148px;
        margin: 6px;
        background-color: #ff0;
        background-size cover
        background-repeat no-repeat
        position: relative;
      .slick-arrow
        position absolute
        z-index 1
        height: 100%;
        width: 38px;
        background-color: rgba(220, 220, 211, 0.56);
        &.slick-prev
          left 0px
        &.slick-next
          right 0px
      .footer
        height 40px
        width 100%
        background-color: rgb(100, 100, 100);
        bottom 0px;
        position absolute
