.list-container
  color: white
  margin-top: 65px
  padding-top: 10px
  width: 300px
  float: left
  margin-left: 20px
  .h2
    background-color: #f2f2f2;
    color: #404040;
    font-size: 16px;
    text-align: center;
    margin: 0px;
    height: 25px;
    line-height: 25px;
  .article
    border-top: 1px #d9d9d9 solid;
    font-size 14px
    h3
      margin 4px
      a:hover
        text-decoration none !important
        .span
          color red
      .span
        font-size: 17px;
        color: #fff;
        font-weight: 100;
  .article:nth-of-type(1)
    h3
      .span
        font-size: 16px;
