<ul class="list-container">
  <h2 class="h2">Top stories</h2>
  <article class="article">
    <div>
      <div>
        <a href="/2016/01/18/tennis/australian-open-match-fixing-tennis/index.html">
          <img src="http://i2.cdn.turner.com/cnnnext/dam/assets/151121094825-djokovic-focused-medium-tease.jpg">
        </a>
      </div>
      <div>
        <h3>
          <a href="/2016/01/18/tennis/australian-open-match-fixing-tennis/index.html">
            <span class="span">
              Tennis racket: I was offered $200K to lose, Djokovic says
            </span>
          </a>
        </h3>
      </div>
    </div>
  </article>
  <article class="article">
    <div>
      <div>
        <h3>
          <a href="/2016/01/18/tennis/australian-open-novak-djokovic-serena-williams/index.html">
            <span class="span">
              Ex-No. 1 crashes out of Open on first day
            </span>
          </a>
        </h3>
      </div>
    </div>
  </article>
  <article class="article">
    <div>
      <div>
        <h3>
          <a href="/2016/01/18/tennis/australian-open-novak-djokovic-serena-williams/index.html">
            <span class="span">
              Ex-No. 1 crashes out of Open on first day
            </span>
          </a>
        </h3>
      </div>
    </div>
  </article>
  <article class="article">
  <div>
    <div>
      <h3>
        <a href="/2016/01/18/tennis/australian-open-novak-djokovic-serena-williams/index.html">
            <span class="span">
              Ex-No. 1 crashes out of Open on first day
            </span>
        </a>
      </h3>
    </div>
  </div>
  </article>
  <article class="article">
  <div>
    <div>
      <h3>
        <a href="/2016/01/18/tennis/australian-open-novak-djokovic-serena-williams/index.html">
            <span class="span">
              Ex-No. 1 crashes out of Open on first day
            </span>
        </a>
      </h3>
    </div>
  </div>
  </article>
</ul>
