<section class="extras-header-section-container container-fluid">
  <div class="row header-news-section-row">
    <div class="col-sm-4">
      <div class="header-add"></div>
    </div>
    <div class="col-sm-3">
      <article  class="header-news">
        <div class="bg-image" style="background-image:url('../../../assets/images/faheta.png')"></div>
        <header>شسي شسي شسي</header>
        <p>تاش تاشتساي  تاسشت تتاسشتن تاشسن ياتتاتن شيامت تمشسايم</p>
      </article>
    </div>
    <div class="col-sm-2">
      <div class="articals-container">
        <article>
          <header>شسينتا تسشيال</header>
          <p>تشسني تشتسيان شتساينت تشسيان</p>
        </article>
        <article>
          <header>شسينتا تسشيال</header>
          <p>تشسني تشتسيان شتساينت تشسيان</p>
        </article>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="services-container">
        <div class="header">
          خدمات المواطنين
        </div>
        <div class="item">
          الحالة الجوية
        </div>
        <div class="item">
          الحالة المرورية
        </div>
        <div class="item">
          اسعار العملات
        </div>
        <div class="item">
          البطولات المصرية
        </div>
        <div class="item">
          اسأل المختصين        </div>
      </div>
    </div>
  </div>
</section>
