.extras-header-section-container {
    background-color white
    color black
  .header-news-section-row {
    [class*="col-"] {
      height: 200px
      border-left 1px solid grey
      margin-bottom: 20px;
    }
    .col-md-4 {
      border-left 0px solid transparent
    }
    .services-container {
      display flex
      flex-direction column
      text-align end
      margin-right 10px

      margin-bottom 16px
      font-weight bold
      .header {
        margin-top 10px
        margin-bottom 10px
      }
      .item {
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }

    .articals-container {
      display flex
      flex-direction column
      padding 2px
      height 100%
      article {
        height 50%
        border-bottom 1px grey solid
        text-align end
        header {
          font-weight bold
          font-size 12px
        }
        p {
          font-size 12px
        }
      }
    }

    .header-news {
      height 100%
      header {
        font-weight bold
        text-align end
      }
      .bg-image {
        height 40%
        background-size contain
        background-repeat no-repeat
        background-position 50% 50%
      }
      p {
        text-align end
        height 50%
      }
    }
    .header-add {
      background-color: #000;
      width: 100%;
      height: 100%;
      margin-left: 7px;
    }
  }
}