<div class="my-topbar">
	<div class="cbc-topbar-logo" style="background-image:url('assets/images/{{logo}}')"></div>
	<div class="cbc-topbar-list" >
		<div class='cbc-topbar-title'>مواعيد البرامج</div>
		<div class='cbc-topbar-title'>ترددات القنوات</div>
		<div class='cbc-topbar-title-live'>
			<div class="live-btn">
				<div class="cbc-live-title">بث مباشر</div>
				<div class="cbc-topbar-live-select">
					<img src="assets/images/cbc-extra-logo.png" ng-click="live('extra')">
          <img src="assets/images/cbc-sofra-logo.png" ng-click="live('sofra')">
          <img src="assets/images/cbc-drama-logo.png" ng-click="live('drama')">
          <img src="assets/images/cbc.png" ng-click="live('cbc')">
				</div>
			</div>
		</div>
	</div>
</div>
