<div class="inner-live" ng-class="{'cbc': vm.pageName == 'cbc'
                                  ,'drama': vm.pageName == 'drama'
                                  ,'extras': vm.pageName == 'extras' }">
  <div class="icon-cal-container">
    <div class="icon-cal"></div>
  </div>
  <div class="prog-div prog-now">
    <span class="time">الأن</span>
    <div class="title">مع سبق الاصرار</div>
  </div>
  <div class="prog-div prog-next">
    <span class="time"> PM 6:00</span>
    <div class="title">موعد مع الوحوش</div>
  </div>
  <div class="prog-div prog-later">
    <span class="time"> PM 6:00</span>
    <div class="title">موعد مع الوحوش</div>
  </div>
</div>
